<div>
    <a href="/invoice">View Invoices</a>
</div>

{{!--
<div>
    <label for="invoice-number">Invoice Number:</label>
    <input type="number" id="invoice-number" />
    <button id="shipping-documnet">Get Shipping Document</button>
</div>--}} {{!--
<script>
    $(document).ready(function () {
        $("#shipping-documnet").click(function () {
            var invoiceNumber = $("#invoice-number").val();
            if (invoiceNumber) {
                window.location.href = 'invoice/' + invoiceNumber;
            }
        });
    });

</script>--}}